.listPage {
    display: flex;
    height: 100%;

    .listContainer {
        flex: 3;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .wrapper {
            height: 100%;
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            overflow-y: scroll;
            padding-bottom: 50px;
        }
    }

    .mapContainer {
        flex: 2;
        height: 100%;
        background-color: #fcf5f3;
    }
}