@import '../../responsive.scss';

.chat {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

    .messages {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow-y: scroll;
        margin-bottom: 20px;

        h1 {
            font-weight: 300;
        }

        .message {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            gap: 20px;
            cursor: pointer;

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }

            span {
                font-weight: bold;
            }
        }
    }

    .chatBox {
        flex: 1;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include md {
            flex: none;
        }

        .chatTop {
            background-color: #f7c14b85;
            padding: 20px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .chatUser {
                display: flex;
                align-items: center;
                gap: 20px;

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            .chatClose {
                cursor: pointer;

                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .chatCenter {
            height: 350px;
            overflow: scroll;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .chatMessage {
                width: 80%;
                display: flex;
                gap: 5px;

                img {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    border-radius: 50%;
                }

                .chatText {
                    background-color: #d3c9b385;
                    padding: 10px;
                    border-radius: 10px;
                }

                &.own {
                    align-self: flex-end;
                    flex-direction: row-reverse;
                    text-align: right;
                }

                span {
                    font-size: 12px;
                    background-color: #f7c14b85;
                    padding: 2px;
                    border-radius: 5px;
                }
            }
        }

        .chatBottom {
            border-top: 2px solid #f7c14b85;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            textarea {
                flex: 3;
                height: 100%;
                border: none;
                padding: 20px;
                // outline: none;
                // font-size: 20px;
            }

            button {
                flex: 1;
                background-color: #f7c14b85;
                height: 100%;
                border: none;
                cursor: pointer;
            }
        }
    }

    .startChat {
        align-self: center;
    }
}